*{margin: 0;
  padding: 0;
  box-sizing :border-box;
  background-color:beige;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'lato','arial','sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* -------------------------------------*/
/*--------- REUSABLE COMPONENTS --------*/
/*--------------------------------------*/
.row{
    max-width: 1140px;
    margin: 0 auto;
}
.section{
    padding: 80px 0;
   
}
.box{padding: 1%;
    
}
/* -----HEADINGS------ */
h1,h2,h3{
     font-weight: 300;
    
    }
h1{
    text-indent: inherit;
    margin-top: 0;
    margin-bottom: 20px;
    color:#FC427B ;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}


h2{font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3{font-size: 110%;
    margin-bottom: 15px;
    }

/* -------------------------------------*/
/*--------- FORM --------*/
/*--------------------------------------*/
.contact-form{
    width: 60%;
    margin: 0 100px;
    padding-bottom: 30px;
}

input[type=text],
input[type=email],
input[type=birthday],
select,
textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc; 
}

/* -----BUTTONS------ */

input[type=submit]
{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s
}

input[type=submit]{
    background-color: #fd79a8;
    border: 1px solid #fd79a8;
    color: #fff;
    margin-right: 15px;
}

input[type=submit]:hover,
input[type=submit]:active{
    background-color:#FC427B;
}

input[type=submit]{
    border: 1px solid #FC427B;
}




